.rcx-virtualized-list__viewport {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.rcx-virtualized-list__track {
	width: 100%;
	position: relative;
}

.rcx-virtualized-list__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
